### Q1. 본인의 이름, 학번, 좋아하는 음식을 value에 넣어 dictionary를 완성시켜 보세요

In [2]:
info = {"이름" :  "김현조", "학번" : "20212624", "음식" : "곱창"}

### Q2. 1번에서 만든 dictionary에서 좋아하는 음식(value)를 key를 사용해 출력해보세요

In [ ]:
print(info["음식"])

곱창

### Q3. 다음 a라는 리스트에서 중복된 요소가 제거된 리스트를 만들어 출력해보세요

In [ ]:
a = [1, 1, 2, 2, 2, 3, 4, 5, 5]

In [ ]:
set_a = set(a)
print(set_a)

{1, 2, 3, 4, 5}

### Q4. 1이라는 한 요소가 담긴 튜플을 만들어 출력해보세요

In [ ]:
tu_ple = (1, )
print(tu_ple)

(1,)

### Q5. datetime 모듈을 사용해 올해 어린이날부터 크리스마스까지 얼마나 남았나 계산해보세요!

In [ ]:
import datetime

today = datetime.date.today()
christmas = datetime.date.today() - datetime.date(2022,12,25)
kidday = datetime.date.today() - datetime.date(2022,5,5)

print("크리스마스까지", christmas, "일 남았습니다.")

### Q6. 리스트 문제!

In [ ]:
listt = [20, 120, 50, 70, 40, 90, 50, 80, 60]

(1)
listt에서 60을 제거하세요

In [ ]:
listt.remove(60)
listt

ValueError: ignored

(2)
listt의 앞 네 요소를 출력하세요

In [ ]:
listt[0:4]

[20, 120, 50, 70]

(3)
listt를 요소의 크기를 기준으로 정렬하세요

In [ ]:
listt.sort()
listt

[20, 40, 50, 50, 70, 80, 90, 120]

(4)
listt의 맨 마지막 요소를 출력하세요

In [ ]:
listt[-1]

120

(5)
listt의 요소를 모두 삭제한 후 리스트를 출력하세요

In [ ]:
listt.clear()
listt

[]

(6) listt를 삭제하세요 (삭제 후 삭제가 되었나 출력까지 해보기)

In [ ]:
del(listt)

In [ ]:
listt

NameError: ignored

### Q7. 다음 두 리스트의 요소들을 동일한 인덱스를 가지는 요소끼리 튜플로 묶어, 이것을 다시 리스트에 담아 출력해보세요

In [ ]:
player = ["손흥민", "메시", "홀란드", "네이마르"]
number = [7, 30, 9, 10]

In [ ]:
# zip 활용
tuple(zip(player, number))

(('손흥민', 7), ('메시', 30), ('홀란드', 9), ('네이마르', 10))

In [ ]:
# for 반복문 활용

for e in range(0, 3):
    globals()['tup_{}'.format(e)] = (player[e], number[e])

tuplistt = [tup_0, tup_1, tup_2, tup_3]
tuplistt

[('손흥민', 7), ('메시', 30), ('홀란드', 9), ('네이마르', 10)]

### Q8. 다음 수의 각 자리수를 변수를 사용하여 더해보세요

In [ ]:
a = 647

In [ ]:
numm = []
for i in str(a):
    numm.append(i)

int(numm[0]) + int(numm[1]) + int(numm[2])

17

In [ ]:
a = 647
a = str

### Q9. 1번에서 만들었던 dictionary에서 각 value를 가져와 문자열 포매팅을 사용해서 다음 문장을 출력해보세요
(ex)
"제 이름은 김띵키이고, 학번은 20124875, 좋아하는 음식은 마라맛 우유입니다."

In [5]:
print("제 이름은 {0}이고, 학번은 {1}, 좋아하는 음식은 {2}입니다.".format(info["이름"], info["학번"], info["음식"]))

제 이름은 김현조이고, 학번은 20212624, 좋아하는 음식은 곱창입니다.

### Q10. 아래 그림을 참고하여 (1)과 (2) 두 수를 사용하여 (3), (4), (5), (6)의 값을 출력하시오. [10점]

(총 4개의 값이 출력되어 있어야 함)

In [10]:
first = 472
second = 385

hun = int(second/100)
ten = int((second%100)/10)
one = int(second%10)

print(first*one)
print(first*ten)
print(first*hun)
print(first*second)

1416
3776
2360
181720